.suggestFriend{
    background-color: lightgray;
    margin:10px;
    padding: 10px;
    display: flex;
}

.suggestFriend .friends-container{
    width: 70%;
    border-right: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.suggestFriend .friends-cart{
    margin: 5px;
    padding: 5px;
    width: 30%;
}